<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookKorner</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-4">
        <div  class=" flex items-center inline-block px-5 py-2">
            <img src="/img/book1.png" class="w-14 h-14" alt="logo">
            <h2 class="px-3 text-2xl"><b><i>BookKorner</i></b></h2>
          
        </div>
        <div>
            <ul class="flex items-center px-3">
                <li class="ml-6"><a href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <li class="ml-6"><a href="#">Register</a></li>
                <li class="ml-6"><a href="#">Login</a></li>
                <li class="ml-6"><a href="#" class="inline-block px-4 py-2 rounded-full"><img src="/img/cart3.png" class="w-8 h-8" alt="cart"></a></li>
            </ul>
        </div>
    </nav>
    <section class="hero px-6 py-8">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2 px-12">
                <h6 class="text-2xl"><em>Are you a Book Lover?</em></h6>
                <h1 class="text-6xl font-bold">Join BookKorner !</h1>
                <button class="add-to-cart mt-8 py-2 px-8 rounded-full flex items-center font-bold">
                    Get Started
                      </button>
            </div>
            <div class="w-1/2  px-12">
                <img src="/img/book2.svg" alt="book">
            </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8 px-10">
        <h1 class="text-xl font-bold mb-8">All Books</h1>
        <div class="grid grid-cols-4 gap-x-3 gap-y-4">
            <div class="card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class=" card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class=" card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card w-64 py-4 px-6">
                <img src="/img/bedlam.png" class="h-40 mb-4 mx-auto" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">Bedlam</h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">by rosenberg</span>
                    <div  class="flex items-center justify-around mt-6">
                        <span class="text-lg font-bold">Rs 500</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="/js/app.js"></script>
</body>
</html>