<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookGallery</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between  md:px-6 md:py-6 ">
        <div  class=" flex items-center flex-col md:flex-row inline-block  py-2">
           <a href="/"> <img src="/img/logo.png" class=" image w-6 md:w-14 md:h-14" alt="logo"></a>
           <a href="/">  <h2 class="md:px-3 font-bold text-sm md:text-2xl"><i>BookGallery</i></h2></a>
          
        </div>
        <div>
            <ul class="flex items-center px-3 text-xs sm:text-base">
                <li class="ml-2 sm:ml-6"><a href="/">Menu</a></li>
                <li class="ml-2 sm:ml-6"><a href="/customers/orders">Orders</a></li>
                <% if(user) { %>
                <li class="ml-2 sm:ml-6">
                    <form id="logout" action="/logout" method="POST">
                    <a onclick="document.getElementById('logout').submit()" href="#">Logout</a></form></li>
                <% } else { %>

                <li class="ml-2 sm:ml-6"><a href="/register">Register</a></li>
                <li class="ml-2 sm:ml-6"><a href="/login">Login</a></li>
                <% } %>
                <li class="ml-2 sm:ml-6"><a href="/cart" class="inline-block px-3 sm:px-4 py-2 rounded-full flex items-center">
                    <span id="cartCounter" class="text-white font-bold pr-2"><%= session.cart ? session.cart.totalQty : "" %></span>
                    <img src="/img/newcart.png" class="md:w-8 md:h-8 w-4 h-4" alt="cart"></a></li>
            </ul>
        </div>
    </nav>
  <%- body %>
  <footer class="mb-20"></footer>
  <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>