body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: "antialiased";
  color: #232323;
}

nav li:last-child a {
  background: #0CC7E8;
}
nav li:last-child a:hover {
  background: #0BB2D0;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #0BB2D0;
  font-weight: bold;
}

section.hero {
  background: #f8f8f8;
}

section.hero h1 {
  color: #0BB2D0;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #0BB2D0;
  color: #0BB2D0;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #0BB2D0;
  color: #fff;
  border-color: #fff;
}

.card {
  transition: all 0.3s ease-in-out;
}
.card:hover {
  background: #f8f8f8;
  cursor: pointer;
}

section.cart {
  background: #f8f8f8;
}
section.cart .amount {
  color: #0BB2D0;
}

.add-to-cart1 {
  background: #0BB2D0;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.add-to-cart1:hover {
  background: #fff;
  color: #0BB2D0;
  border: 2px solid #0BB2D0;
}

section.login {
  background: #f8f8f8;
  min-height: calc(100vh - 90px);
}
section.login a {
  color: #0BB2D0;
  cursor: pointer;
}
section.login a:hover {
  color: #b23301;
}
