
//colors

$primary:#1199D7;// #FE5F1E;

$primary1 : #00BFA6;
$primary2: #1137D7;

$primary-hover: #b23301;

$secondary: #f8f8f8;

$pure: #fff;

$dark: #232323;

$gray: #ccc;

//transition
$smooth: all .3s ease-in-out;