@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: 'antialiased';
    color: $dark;
}
nav li:last-child a {
    background: $primary1;
    &:hover{
        background: $primary;
    }
    
}
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary1;
        font-weight: bold;
        font-size: 18px;
     
    }
    
}
section.hero{
    background: $secondary;
}
section.hero h1{
    color: $primary1;
}
.tag{
    color: $primary1;
}
.size{
    background: $secondary; 
}
.add-to-cart{
    border: 2px solid $primary1;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary1;
        color: $pure;
        border-color: $pure;
    }

}
.card{
    transition: $smooth;
    &:hover{
        background: $secondary;
        cursor: pointer;
    }
    
}
section.cart{
background: $secondary;
.amount{
    color: $primary1;
}
}
.add-to-cart1{
    
    background: $primary1;
    color: $pure;
    transition: $smooth;
    outline-width: none;
    &:hover{
        background: $pure;
        color: $primary;
        border: 2px solid $primary1;
    }
}
section.login{
    background: $secondary;
    min-height: calc(100vh - 90px);
    a{
        color: $primary1;
        cursor: pointer;
        &:hover{
            color: $primary-hover;
        }
    }
}

.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}
a.link{
    color: $primary;
}