@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: 'antialiased';
    color: $dark;
}
nav li:last-child a {
    background: $primary1;
    &:hover{
        background: $primary;
    }
    
}
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary1;
        font-weight: bold;
        font-size: 18px;
     
    }
    
}
.booklist{
    max-width: 400px;
}

section.hero{
    background: $secondary;
    width: 100%;
}
section.hero h1{
    color: $primary1;
}
.tag{
    color: $primary1;
}
.size{
    background: $secondary; 
}
.add-to-cart{
    border: 2px solid $primary1;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary1;
        color: $pure;
        border-color: $pure;
    }

}
.card{
    transition: $smooth;
    &:hover{
        background: $secondary;
        cursor: pointer;
    }
    
}
section.cart{
background: $secondary;
.amount{
    color: $primary1;
}
}
.add-to-cart1{
    
    background: $primary1;
    color: $pure;
    transition: $smooth;
    outline-width: 0;
  
    &:hover{
        background: $pure;
        color: $primary;
        border: 2px solid $primary1;
    }
}
section.login{
    background: $secondary;
    min-height: calc(100vh - 90px);
    a{
        color: $primary1;
        cursor: pointer;
        &:hover{
            color: $primary-hover;
        }
    }
}

.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}
a.link{
    color: $primary;
}
section.status{
    background: $secondary;
    min-height: calc(100vh - 86px);
}
.status-box{
    padding: 60px 0 0;
}
//Dots

.status-box ul {
    margin-left: 84px;
}
.status-box ul li span{
    position: relative;
    padding-left: 20px;
}
.status-box ul li span::after{
content: '';
position: absolute;
top: 50%;
left: -10px;
background: $dark;
border-radius: 20%;
width: 10px;
height: 10px;
transform: translateY(-50%);
box-shadow: 0 0 1px 10px $secondary;
}

//Icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit ;

}
.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}
.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}
.status-box ul li:nth-child(3) span:before{
    content: '\f468';
}
.status-box ul li:nth-child(4) span:before{
    content: '\f48b';
}
.status-box ul li:nth-child(5) span:before{
    content: '\f587';
}

//Line
.status-box ul li{
    position: relative;
}
.status-box ul li::before{
content: '';
position: absolute;
top: 0;
left: -6px;
width: 2px;
height: 100%;
background: $dark;
margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}

//Completed status
.status-box ul li.step-completed::before{
    background: $gray;
}
.status-box ul li.step-completed span:after{
    background: $gray;
}
.status-box ul li.step-completed {
    color: $gray;
}

//current status

.status-box ul li.current span:after{
    background:$primary1;
}
.status-box ul li.current {
    color:$primary1;
    font-weight: 900;
    font-size: x-large;
}
.status-box ul li small{
    float: right;
    font-size: 14px;
    color: $primary;
}
@media (max-width: 1060px){
    .container{
        max-width: 90%;
    }
    .table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
@media(max-width: 576px){
    .status-box ul li span::before{
        font-size: 30px;
     }
     .status-box ul li.current {
        font-size:larger;
    }
    .status-box ul li span{
        padding-left: 25px;
    }
}
.StripeElement{
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
}
.StripeElement--focus{
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid{
    border-color: #fa755a;
}
.StripeElement--webkit-autofill{
    background-color: #fefde5 !important;
}
@media(max-width: 576px){
    .StripeElement{
        width: 100%;
        padding: 20px 22px;
    }
    }